// IMPORT FONTS
@import './fonts.scss';
// ============================================


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
}


// IMPORT RESET STYLES
@import "reset.scss";
// ============================================
// IMPORT STYLES
@import './header.scss';
@import './main.scss';
// ============================================
